{{ define "content" }}
<main>
	<h1>Checksum Database Auditor</h1>

	<section>
		<h2>Monitored Databases</h2>

		<table>
			<thead>
				<tr><th>Database</th><th>Largest STH Seen At</th><th>Largest STH</th><th>Largest Verified STH</th><th>Verify Backlog</th><th>Download Backlog</th></tr>
			</thead>
			<tbody>
				{{ range .SumDBs }}
					<tr>
						<td>{{ .Address }}</td>
						<td>{{ .LargestSTHTime.Format "2006-01-02 15:04:05 UTC" }}</td>
						<td>{{ .LargestSTHSize }}</td>
						<td>{{ .VerifiedSize }} (<a href="https://gossip.api.{{ $.Domain }}/{{ .Address }}">Download</a>)</td>
						<td>{{ .VerifyBacklog }}</td>
						<td>{{ .DownloadBacklog }}</td>
					</tr>
				{{ end }}
			</tbody>
		</table>
	</section>
	<section>
		<h2>Inconsistent STHs</h2>

		<p>If Source Spotter detects any STHs that are inconsistent with the Largest Verified STH shown above, they will be disclosed here:</p>

		<table>
			<thead>
				<tr><th>Database</th><th>Tree Size</th><th>STH Root Hash</th><th>Expected Root Hash</th><th>Download</th></tr>
			</thead>
			<tbody>
				{{ range .InconsistentSTHs }}
					<tr>
						<td>{{ .SumDB }}</td>
						<td>{{ .TreeSize }}</td>
						<td>{{ .RootHashString }}</td>
						<td>{{ .CalculatedRootHashString }}</td>
						<td><a download="{{ .SumDB }}-{{ .TreeSize }}.txt" href="{{ .DownloadURL }}">Download</a></td>
					</tr>
				{{ end }}
			</tbody>
		</table>
	</section>
	<section>
		<h2>Duplicate Records</h2>

		<p>If Source Spotter detects that a checksum database has published more than one record for a module version, it will be disclosed here:</p>

		<table>
			<thead>
				<tr><th>Database</th><th>Module</th><th>Version</th><th>Position</th><th>Previous Position</th></tr>
			</thead>
			<tbody>
				{{ range .DuplicateRecords }}
					<tr>
						<td>{{ .SumDB }}</td>
						<td>{{ .Module }}</td>
						<td>{{ .Version }}</td>
						<td>{{ .Position }}</td>
						<td>{{ .PreviousPosition }}</td>
					</tr>
				{{ end }}
			</tbody>
		</table>
	</section>
</main>
{{ end }}
