{{ define "content" }}
<main>
	<h1>Toolchain Builds</h1>

	<section>
			<details>
				<summary class="h2">Verified Reproducible ({{ len .Verified }})</summary>
				<ul class="versionlist">
						{{ range .Verified }}
								<li>{{ . }}</li>
						{{ end }}
				</ul>
			</details>
	</section>
	<section>
			<details {{ if .Failures }} open {{ end }}>
				<summary class="h2">Failures ({{ len .Failures }})</summary>
				<table>
						<thead>
								<tr><th>Version</th><th>Status</th><th>Time (UTC)</th><th>Artifacts</th></tr>
						</thead>
						<tbody>
								{{ range .Failures }}
										<tr>
												<td>{{ .Version }}</td>
												<td>{{ .StatusString }}</td>
												<td>{{ .InsertedAtString }}</td>
												<td>
														{{ if .LogURL }}<a href="{{ .LogURL }}">log</a>{{ end }}
														{{ if .ZipURL }}<a href="{{ .ZipURL }}">zip</a>{{ end }}
												</td>
										</tr>
								{{ end }}
						</tbody>
				</table>
			</details>
	</section>
	<section>
			<details>
				<summary class="h2">Sources ({{ len .Sources }})</summary>
				<p>
					Source Spotter has used the following source tarballs:
				</p>
				<table>
						<thead>
								<tr><th>Version</th><th>SHA-256</th><th>Download Time (UTC)</th></tr>
						</thead>
						<tbody>
								{{ range .Sources }}
										<tr>
												<td><a href="{{ .URL }}">{{ .Version }}</a></td>
												<td><code>{{ .SHA256String }}</code></td>
												<td>{{ .DownloadedAtString }}</td>
										</tr>
								{{ end }}
						</tbody>
				</table>
			</details>
	</section>
</main>
{{ end }}
