<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="{{ .Description }}"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="{{ .Title }}"/>
    <meta name="twitter:description" content="{{ .Description }}"/>
    <title>{{ .Title }}</title>
	<link rel="stylesheet" href="/assets/style.css"/>
  </head>
  <body>
    <header class="header">
      <div class="inner">
        <div class="header-left">Source Spotter</div>
        <a class="header-menu" onclick="document.getElementById('nav').classList.toggle('header-right-show'); return false" href="javascript:void(0)">Menu &#x25BE;</a>
        <nav class="header-right" id="nav">
          <a href="/" class='header-link {{ if eq .Request.URL.Path "/" }}header-selected{{ end }}'>About</a>
          <a href="/sumdb/" class='header-link {{ if eq .Request.URL.Path "/sumdb/" }}header-selected{{ end }}'>sumdb</a>
          <a href="/toolchain/" class='header-link {{ if eq .Request.URL.Path "/toolchain/" }}header-selected{{ end }}'>Toolchains</a>
          <a href="/telemetry/" class='header-link {{ if eq .Request.URL.Path "/telemetry/" }}header-selected{{ end }}'>Telemetry</a>
        </nav>
	  </div>
    </header>
	<div class="inner">
	  {{ block "content" .Body }}{{ end }}
	  <footer>
		  {{ with .BuildInfo }}
			  <p>
				  {{ .Main.Path }}@{{ .Main.Version }}
				  {{ with .Main.Sum }} ({{ . }}) {{ end }}
				  <a href="https://github.com/SSLMate/sourcespotter/">GitHub</a>
			  </p>
		  {{ end }}
	  </footer>
    </div>
  </body>
</html>
