{{ define "content" }}
<main class="deps">
	<h1>Go Package Dependencies</h1>
	<div id="deps-intro">
		<p>
			Did you know that
			when you import or install a Go package, the dependencies that are actually
			downloaded and built may be a significantly smaller subset of the modules
			listed in the go.mod file? This is because go.mod lists the dependencies of <em>every</em>
			package in the module (including packages you never use), for <em>every</em> possible build
			configuration, including test-only dependencies.
		</p>
		<p>
			This page uses the <code>go list -deps</code> command
			to list the <strong>true dependencies</strong> of a Go package, to help you assess
			the risk of using a third-party package.
		</p>
	</div>
	<form class="deps-form" id="deps-form" method="get" action="https://go.api.{{$.Domain}}/deps">
		<details class="deps-config" id="deps-config">
			<summary>Options</summary>

			<div>
				<label>
						Target:
						<select name="target">
								{{ range .Targets }}
								<option value="{{ . }}">{{ . }}</option>
								{{ end }}
						</select>
				</label>
				<label>
						Build tags:
						<input type="text" name="tags" placeholder="tag1,tag2"/>
				</label>
				<label>
						<input type="checkbox" name="test" value="1"/>
						Include test dependencies
				</label>
				<label>
						First party:
						<input type="text" name="firstparty" placeholder="github.com/you" aria-describedby="deps-firstparty-instructions"/>
				</label>
				<p id="deps-firstparty-instructions" class="deps-instructions">
					Modules beneath this path are labeled first party dependencies.
				</p>
			</div>
		</details>
		<p class="deps-package">
			<label for="deps-packageinput">Package:</label>
			<input autofocus id="deps-packageinput" type="text" name="package" required placeholder="software.sslmate.com/src/sourcespotter"/>
			<button type="submit">Show dependencies</button>
		</p>
	</form>
	<div class="deps-error" id="deps-errors" hidden></div>
	<div class="deps-results" id="deps-results" hidden></div>
	<div id="deps-progress" hidden><div class="spinner"></div></div>
	<script src="/assets/deps.js"></script>
</main>
{{ end }}
