{{ define "content" }}
<main>
	<h1>Supply Chain Security for Go</h1>

	<p>
		Source Spotter is a project for upholding supply chain security in the Go ecosystem.
	</p>

	<p>
		Source Spotter is...
	</p>

	<ul>
		<li>A <a href="/sumdb/">sumdb auditor</a> - Source Spotter verifies that the Go Module Mirror and Checksum Database is behaving honestly, and has not presented inconsistent information to clients.</li>
		<li>A <a href="/toolchain/">toolchain reproducer</a> - Source Spotter verifies that the Go toolchains published in the Go Module Mirror can be reproduced from source code, making it difficult to hide backdoors in the binaries downloaded by the go command.</li>
	</ul>

	<p>
		Source Spotter was developed by <a href="https://www.agwa.name/">Andrew Ayer</a>
		and the deployment at <a href="https://sourcespotter.com/">sourcespotter.com</a>
		is operated by <a href="https://sslmate.com/">SSLMate</a> as a public service
		to the Go community.  sourcespotter.com does not use any Google infrastructure.
		Source Spotter is <a href="https://github.com/SSLMate/sourcespotter">open source</a>.
	</p>
</main>
{{ end }}
