{{ define "content" }}
<main>
	<h1>Toolchain Reproducibility</h1>

	<p>
		Source Spotter verifies that the Go toolchains published in the Go Module Mirror
		can be reproduced from source code. This provides assurance that
		when the go command <a href="https://go.dev/doc/toolchain">automatically downloads a binary toolchain</a>,
		it downloads the exact same bytes that you would get if you manually
		downloaded and compiled the toolchain from source.
	</p>
	<p>
		Since the checksums of toolchains are published in the
		<a href="https://go.dev/ref/mod#checksum-database">Go Checksum Database</a>, and Source Spotter
		<a href="/sumdb/">audits the Checksum Database</a>, it would be difficult for
		Google to serve a backdoored binary to clients without being detected by Source Spotter.
	</p>

	<section>
			<details>
				<summary class="h2">Verified Reproducible ({{ len .Verified }})</summary>
				<p>
					The following toolchains have been reproduced from source:
				</p>
				<ul class="versionlist" id="verified">
						{{ range .Verified }}
								<li>{{ . }}</li>
						{{ end }}
				</ul>
			</details>
	</section>
	<section>
			<details {{ if .Failures }} open {{ end }}>
				<summary class="h2">Failures ({{ len .Failures }})</summary>
				<p>
					The following toolchains failed to reproduce from source:
				</p>
				<table id="failures">
						<thead>
								<tr><th>Version</th><th>Status</th><th>Time (UTC)</th><th>Artifacts</th></tr>
						</thead>
						<tbody>
								{{ range .Failures }}
										<tr>
												<td>{{ .Version }}</td>
												<td>{{ .StatusString }}</td>
												<td>{{ .InsertedAtString }}</td>
												<td>
														{{ if .LogURL }}<a href="{{ .LogURL }}">log</a>{{ end }}
														{{ if .ZipURL }}<a href="{{ .ZipURL }}">zip</a>{{ end }}
												</td>
										</tr>
								{{ end }}
						</tbody>
				</table>
				<p>
					<a href="https://feeds.api.{{ $.Domain }}/toolchain/failures.atom">Atom Feed</a>
				</p>
			</details>
	</section>
	<section>
			<details>
				<summary class="h2">Sources ({{ len .Sources }})</summary>
				<p>
					Source Spotter has used the following source tarballs:
				</p>
				<table id="sources">
						<thead>
								<tr><th>Version</th><th>SHA-256</th><th>Download Time (UTC)</th></tr>
						</thead>
						<tbody>
								{{ range .Sources }}
										<tr>
												<td><a href="{{ .URL }}">{{ .Version }}</a></td>
												<td><code>{{ .SHA256String }}</code></td>
												<td>{{ .DownloadedAtString }}</td>
										</tr>
								{{ end }}
						</tbody>
				</table>
				<p>
					<a href="https://feeds.api.{{ $.Domain }}/toolchain/sources.csv">CSV of Sources</a>
				</p>
			</details>
	</section>
	<section>
		<h2>Methodology</h2>

		<p>
			Source Spotter continuously downloads entries from sum.golang.org.
			When Source Spotter sees a new version of the golang.org/toolchain module,
			it downloads the corresponding source code from <a href="https://go.dev/dl/">go.dev/dl</a>
			and builds it by running <code>make.bash -distpack</code> with <code>GOARCH</code> and <code>GOOS</code>
			set appropriately.  Source Spotter computes the <a href="https://pkg.go.dev/golang.org/x/mod/sumdb/dirhash">module checksum</a> of the resulting
			module zip file and verifies that it matches the checksum published in sum.golang.org.
		</p>
		<p>
			Source Spotter builds toolchains in an AWS Lambda function running on ARM under the "provided.al2023" runtime.
		</p>
	</section>
	<section>
		<h2>Bootstrap Toolchain</h2>

		<p>
			Since the Go toolchain is written in Go, building it requires
			an earlier version of the toolchain to be installed already.
		</p>

		<p>
			When reproducing Go 1.21, 1.22, and 1.23, Source Spotter uses a Go 1.20.14
			toolchain that was <a href="https://github.com/AGWA/build-go1.20">built from source</a>
			by bootstrapping all the way from Go 1.4,
			which bootstrapped from C. To mitigate <a href="https://dl.acm.org/doi/10.1145/358198.358210">Trusting Trust</a> attacks, the Go 1.20.14 toolchain was built on multiple operating
			systems and architectures, using both gcc and clang for the Go 1.4 bootstrap. The
			same bytes were produced every time.
		</p>

		<p>
			When reproducing Go 1.24 or higher, Source Spotter uses a binary toolchain
			that it has previously verified as being reproducible from source.
		</p>
	</section>
	<section>
		<h2>Caveats</h2>

		<ul>
			<li>
				Toolchains prior to Go 1.21 are ignored by Source Spotter since they
				are not reliably reproducible from source.
			</li>
			<li>
				Darwin binaries are not byte-for-byte reproducible, since they contain
				signatures produced by Google's private key.  Instead of comparing
				the reproduced toolchain directly against the sumdb checksum, Source Spotter
				downloads the toolchain published by Google, verifies that
				it matches the sumdb checksum, strips the signatures, and then computes
				a new checksum that doesn't cover the signatures.  The new checksum is
				compared against the reproduced toolchain.
			</li>
			<li>
				When building linux-arm toolchains for Go 1.21.1 and higher,
				Source Spotter has to set <code>GOARM=6</code> to match the binaries
				published by Google.
			</li>
		</ul>
	</section>
</main>
{{ end }}
